body{
  background: #f8e8a6;
}
h1,
p,
div,
footer{
  text-align: center;
}
a{
  margin: 10px;
  color: green;
}
.croissant-image{
  display: block;
  max-width: 100%;
  border-radius: 10px;
  margin: 30px auto;
}
.contact{
  color: blue;
}
